body {
  margin: 0;
  padding: 20px 0 0 20px;
  font: normal 18px Helvetica, Arial;
}

* {
  box-sizing: border-box;
}

.date-range-picker {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  border: 2px solid slategray;
  background-color: #fbfbfb;

  .date-period {
    position: relative;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid slategray;

    .icon-calendar {
      position: absolute;
      right: 10px;
      padding: 12px;
      background: url("icon/icon-calendar.svg") center no-repeat;
      background-size: 100%;
    }
  }

  input,
  .select-container {
    border-radius: 4px;
    border: solid silver 1px;
  }

  input,
  select {
    width: 100%;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    background-color: #FFFFFF;
  }

  .select-container {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      right: 16px;
      width: 8px;
      height: 8px;
      border-style: solid;
      border-width: 2px;
      border-color: #9BA6B5 transparent  transparent #9BA6B5;
      transform: translateY(-80%) rotate(-135deg);
    }
  }

  select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.date-picker-container {
  display: flex;
  flex-direction: column;
  padding: 10px;

  > :not(:last-child) {
    margin-bottom: 10px;
  }
}

.select-date-range {
  display: flex;

  .input-container {
    flex: 1;

    &:first-child {
      margin-right: 10px;
    }

    input[type="date"] {
      &::-webkit-inner-spin-button {
        display: none;
      }

      &::-webkit-calendar-picker-indicator {
        color: transparent;
        background: url("icon/icon-calendar.svg") center no-repeat;
        background-size: 100%;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;

  > * {
    margin-left: 10px;
  }
}

.button {
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #fff;
  outline: none;

  &.cancel {
    border: 2px solid silver;
    color: silver;

    &:hover {
      background-color: #EDEEEF;
    }
  }

  &.apply {
    border: none;
    color: #fff;
    background-color: red;

    &:hover {
      background-color: #FF687C;
    }
  }
}